html {
  --uno: text-color-1 antialiased select-none overscroll-none;

  color-scheme: light;

  &.dark {
    color-scheme: dark;
  }

  body {
    --uno: text-sm;

    img {
      -webkit-user-drag: none;
    }

    a {
      --uno: "hover:color-primary";
    }
  }
}

// 隐藏滚动条的工具类
.scrollbar-hide {
  /* 隐藏滚动条但保持滚动功能 */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}
